In [7]:
import pandas as pd

# Load the Excel files
df2 = pd.read_excel('/Users/srushtitikekar/Downloads/Data Visualization Project Dataset/DEMO_H_output_file.xlsx')
df1 = pd.read_excel('/Users/srushtitikekar/Downloads/Data Visualization Project Dataset/NHANES_age_prediction.xlsx')

# Select only the columns you want to add from df2 (including 'seqn' for merging)

# RIDRETH3, DMDBORN4 , DMDCITZN,DMDEDUC3, DMDEDUC2,DMDMARTL,RIDEXPRG]
columns_to_add = ['SEQN','RIDRETH3', 'DMDBORN4' , 'DMDCITZN','DMDEDUC3', 'DMDEDUC2','DMDMARTL','RIDEXPRG']  # Replace with actual column names
df2_subset = df2[columns_to_add]

# Merge the files based on the unique 'seqn' column
merged_df = pd.merge(df1, df2_subset, on='SEQN', how='left')

# Save the result to a new Excel file
#merged_df.to_excel('merged_output.xlsx', index=False)

print("Columns from file1 have been mapped to file2 based on 'seqn' and saved to 'merged_output.xlsx'")

Columns from file1 have been mapped to file2 based on 'seqn' and saved to 'merged_output.xlsx'

In [9]:
merged_df

,SEQN,age_group,RIDAGEYR,RIAGENDR,PAQ605,BMXBMI,LBXGLU,DIQ010,LBXGLT,LBXIN,CardioVascular,RIDRETH3,DMDBORN4,DMDCITZN,DMDEDUC3,DMDEDUC2,DMDMARTL,RIDEXPRG
0,73564,Adult,61,2,2,35.7,110,2,150,14.91,NaN,3,1,1.0,NaN,5.0,2.0,NaN
1,73568,Adult,26,2,2,20.3,89,2,80,3.85,No,3,1,1.0,NaN,5.0,5.0,2.0
2,73576,Adult,16,1,2,23.2,89,2,68,6.14,Yes,4,1,1.0,9.0,NaN,NaN,NaN
3,73577,Adult,32,1,2,28.9,104,2,84,16.15,Yes,1,2,2.0,NaN,1.0,6.0,NaN
4,73580,Adult,38,2,1,35.9,103,2,81,10.92,Yes,4,1,1.0,NaN,3.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2273,83711,Adult,38,2,2,33.5,100,2,73,6.53,NaN,3,1,1.0,NaN,3.0,1.0,2.0
2274,83712,Adult,61,1,2,30.0,93,2,208,13.02,NaN,3,1,1.0,NaN,2.0,1.0,NaN
2275,83713,Adult,34,1,2,23.7,103,2,124,21.41,NaN,6,2,1.0,NaN,4.0,1.0,NaN
2276,83718,Adult,60,2,2,27.4,90,2,108,4.99,NaN,4,1,1.0,NaN,3.0,2.0,NaN
2277,83727,Adult,26,1,2,24.5,108,2,108,3.76,NaN,2,1,1.0,NaN,5.0,5.0,NaN